# Gradle / Kotlin
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
.kotlin/

# Flutter / Dart
app/.dart_tool/
app/build/
app/.flutter-plugins
app/.flutter-plugins-dependencies
app/ios/Pods/
app/ios/.symlinks/
app/ios/Flutter/ephemeral/
app/android/.gradle/
app/android/local.properties
**/Generated.xcconfig
**/flutter_export_environment.sh

# Tooling
.idea/
*.iml
.DS_Store
xcuserdata/
